*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}
.container
{
    width:100%;
    min-height: 960px;
    background: url(../img/reklama-back.png) no-repeat;
    background-position: center;
    background-size:cover;
    padding: 2% 7%;
}
.container .wrapper-block 
{
    max-width: 1920px;
    margin:0 auto;
    padding-bottom: 20px;
}
.container .title-sell
{
    font-size:44px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}
.container .block-wrapper
{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap:wrap;
    margin:0 auto;
}
.container .block-wrapper .inner-wrap
{    
    margin-top:150px;  
    position: relative;
}
.container .block-wrapper .inner-wrap > div,.container .block-wrapper .inner-wrap
{
    width:478px;
}
.container .block-wrapper .inner-wrap > div
{
    width:478px;
    height:auto;
    min-height:550px;
    background-color:#404042;  
    border-radius:6px;         
    position: absolute;   
    left:50%;
    transform: translate(-50%,0);    
    transition:0.3s;    
}
.container .block-wrapper .inner-wrap > div .bottom-wrap
{
    padding: 0 25px 50px 25px;
}
.container .block-wrapper .inner-wrap > div .video-block
{
    position: relative;
    width:100%;
    height:210px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background-color:#404042;
    overflow: hidden; 
}
.container .block-wrapper .inner-wrap > div .video-block video
{    
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    overflow: hidden; 
}
.container .block-wrapper .inner-wrap > div .title-block
{
    padding-top:20px;
    font-size:40px;
    color:#fff;    
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    padding-bottom:5px;
}
span.bold
{
    font-weight: 700;
    position: relative;
}
span.bold::after
{
    content:"";
    position: absolute;
    bottom:-5px;
    left:0;
    width:120px;
    border-bottom:3px solid #e51726;
}
.container .block-wrapper .inner-wrap:before
{
    position: absolute;
    top:-180px;
    left:-13px;
    font-size:240px;
    color:#eaeaea;
    transition:1s;
}
.container .block-wrapper .inner-wrap:hover::before
{
    top:-160px;
    left:5px;
}
.container .block-wrapper .inner-wrap:nth-child(1):before
{    
    content:'01';
}
.container .block-wrapper .inner-wrap:nth-child(2):before
{    
    content:'02';
}
.container .block-wrapper .inner-wrap:nth-child(3):before
{    
    content:'03';
}
.container .block-wrapper .reklama-block video[poster],
.container .block-wrapper .threed-block video[poster]{
    object-fit: cover;
    object-position: center;
    transition:0.3s;
}
.container .block-wrapper .anim-block video[poster]
{
    object-fit: cover;
    object-position: top;
}
.container .block-wrapper .inner-wrap > div .text-block
{
    padding-top:15px;
    font-size:24px;
    color:#fff;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d; 
    background-color: #404042;
}
.container .block-wrapper .inner-wrap > div .button-block
{
    position: absolute;
    bottom:35px;
    width:90%;
    background:#e51726;
    border-radius:50px;
    box-shadow: 0 5px 25px #e51726;
    padding:25px 0;
    text-align:center;
    font-size:24px;
    font-weight:300;
    cursor: pointer;   
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    display: none;
}
.container .block-wrapper .inner-wrap > div a 
{
	text-decoration: none;
	width:100%;
	height:100%;	
    color:#fff;
    display: inline-block;
    max-width: 100%;
    border:none;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
    line-height: 27px;
}
.container .block-wrapper .inner-wrap > div:hover
{
    transform: scale(1.05) translate(-48%,0);
}      
.container .block-wrapper .inner-wrap > div .button-block:hover
{
    background:#fff;
    box-shadow: 0 5px 25px #fff;
    transition:0.3s;
}
.container .block-wrapper .inner-wrap > div a:hover 
{
    color:#000;
}
@media screen and (max-width:1800px)
{
    .container .block-wrapper .inner-wrap
    {
        width:31%;
        height:auto;
    }
    .container .block-wrapper .inner-wrap > div
    {        
        width:100%;
        min-height:550px;
    }
    .container .block-wrapper .inner-wrap > div .button-block
    {
        bottom:20px;
        margin:0 auto;
    }
    .container .block-wrapper .inner-wrap > div .title-block
    {
        font-size:37px;
    }
    .container .block-wrapper .inner-wrap > div .video-block
    {
        height:auto;
    }
}
@media screen and (max-width:1600px)
{
    .container .block-wrapper .inner-wrap > div .button-block
    {
        font-size:19px;
    }
    .container .block-wrapper .inner-wrap > div
    {        
        width:100%;
        min-height:570px;
    }
    .container .block-wrapper .inner-wrap > div .title-block {
        font-size: 31px;
    }
}
@media screen and (max-width:1366px)
{
    .container
    {
        padding: 2% 5%;
    }
    .container .block-wrapper .inner-wrap > div
    {
        width:100%;
    }
    .container .block-wrapper .inner-wrap > div .video-block
    {
        height:auto;
    }
    .container .block-wrapper .inner-wrap > div .title-block {
        font-size: 30px;
    }
    .container .block-wrapper .inner-wrap > div
    {        
        min-height:580px;
    }
}
@media screen and (max-width:1280px)
{
    .container
    {
        padding: 2%;
    }
}

@media screen and (max-width:1200px)
{
    .container .block-wrapper .inner-wrap
    {
       width:450px;
    }
    .container .block-wrapper 
    {        
       position: relative;
       top:15%!important;
       padding-bottom:50px;
    }
    .container .block-wrapper .inner-wrap > div
    {
        position: relative;
    }
    .container .block-wrapper .inner-wrap > div .bottom-wrap {
        padding: 0 25px 10px 25px;
    }
}
@media screen and (max-width:1024px)
{
    .container {
        padding:2%;
    }
    .container .block-wrapper .inner-wrap > div
    {
        width:100%;
        min-height:600px;
    }
    
    .container .block-wrapper .inner-wrap > div .text-block, .container .block-wrapper .inner-wrap > div .button-block
    {
        font-size:24px;
    }
    .container .block-wrapper .inner-wrap > div .title-block
    {
        font-size:46px;
    }
}
@media screen and (max-width:600px)
{
    .container .block-wrapper .inner-wrap:before
    {
        top:-120px;
        left:-9px;
        font-size:180px;
    }
}
@media screen and (max-width:450px)
{
    .container .block-wrapper .inner-wrap > div .bottom-wrap
    {
        padding: 0 25px 20px 25px;
    }
    .container .block-wrapper .inner-wrap > div .title-block
    {
        font-size:27px;
    }
    .container .block-wrapper .inner-wrap > div .text-block
    {
        font-size: 20px;
    }
    .container .block-wrapper .inner-wrap > div .button-block
    {
        font-size: 18px;
        padding:15px 10px;
        left:5%;
    }
    .container .title-sell {
        font-size: 35px;
    }
    span.bold::after
    {
        width:100px;
    }
    .container .block-wrapper .inner-wrap {
        width: 90%;
    }
    .container .block-wrapper .inner-wrap > div
    {
        min-height: 0px;
    }
    .container .block-wrapper
    {
        top:18%!important;
    }
}
@media screen and (max-width:375px)
{
    .container .block-wrapper .inner-wrap > div .text-block {
        font-size: 15px;
    }
    .container .block-wrapper .inner-wrap > div .title-block {
        font-size: 21px;
    }
    span.bold::after
    {
        width:80px;
    }
    .container .block-wrapper .inner-wrap > div .button-block
    {
        font-size: 15px;
        padding: 10px;
    }
}